<h2> Offers list:</h2>

<ul *ngFor="let offer of offers">
  <li><h1 (click)="getOfferDetails(offer['id'])">{{offer['title']}}</h1>
    <ul *ngIf="detailsList.has(offer['id'])">
      <li>Description: {{detailsList.get(offer['id']).description}}</li>
      <li>Category: {{detailsList.get(offer['id']).category_id}}</li>
      <li>Price: {{detailsList.get(offer['id']).price}}</li>
      <li>Created: {{detailsList.get(offer['id']).created_at}}</li>
      <li>Id: {{detailsList.get(offer['id']).id}}</li>
    </ul>
  </li>

</ul>
